$body-font-family = "Gandhi Sans", "Ubuntu", "Helvetica Neue", "Helvetica", "Open Sans", "Arial", sans-serif
$color-pack = false

// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'


.page
  @extend .fade-transition

.card
  border-radius 12px
  box-shadow 0 2px 12px 0 rgba(0,0,0,.1)
  &.fls-form-group
    .card__title
      padding-bottom 0
    .card__text
      padding-top 0

.stepper__wrapper
  padding 0 4px
